.aider*
*.class
*.log
/.lein-*
/.nrepl-port
/.cpcache
/.lsp
/.clj-kondo
.DS_Store
*.iml
.idea/
.project
.classpath
.settings/
.vscode/
target/
pom.xml
*.jar
*.war
*.ear
.history
.cpcache
.bb.edn

.env
